/* div.css-12w0qpk.esravye1{
    background-color: #eebd90;
    border: 3PX #02070f;
    padding: 4px 1px 4px 3px;
    border-radius: 10px;
    padding: 5% 5% 5% 7%;
    text-align: center;
} */


/* div.css-6qob1r.e1akgbir3{
    background-color:#e2f0af;

} */


/* div.css-keje6w.esravye1 {
    background-color: #aff0b4;
    border: 1PX #02070f;
    padding: 20px 20px 20px 20px; 
    padding: 5% 5% 5% 7%;
    border-radius: 20px;
    text-align: center;
}  */

/* 
div.css-1r6slb0.esravye1 {
    background-color: #96b7f3;
    padding: 20px 20px 20px 20px;
    text-align: center;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}


div.css-keje6w.e1tzin5v2 {
    background-color: #86dae4;
    padding: 20px 20px 20px 20px;
    text-align: center;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
} */

